<div th:fragment="body">

    <body style="background-image: url('https://images.squarespace-cdn.com/content/v1/55470460e4b0b5d7d7c67dad/b47f10d5-97da-449e-ba2b-bb12831823b0/HFA00595.jpg?format=2500w');
      background-size: cover; background-position: center; background-repeat: no-repeat;
      min-height: 100vh; display: flex; align-items: center; justify-content: center; color: #ffffff; position: relative;">

    <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: -1;"></div>


    </body>


</div>